@keyframes blur {
    from {filter: blur(.25rem);}
    to {filter:blur(0)}
}
@keyframes button {
    from {background-color: black;
          color: white;
        }
    to {background-color: white;
        border: 1px black solid;}
}

@media screen and (max-width:991px) {
    
    .productPage--card-row{
        text-align: center;
        
    }
    .productPage--card-row img{
        float: inherit;
    }
}
@media screen and (max-width:766px) {
    .video{
        height: 80vw;
        object-fit: cover;
    }
    .footer{height: 70rem!important; ;}
    .footer-wrapper{
        flex-direction: column;
        justify-content:flex-start;
    }
    .about-us > div{width: 80%;}

    /*hmm*/
    .mission{width: 91vw!important;}
    .productPage--image{
        max-height: 250px!important;
        max-width: 187.5px!important;
        
    }
    
    
    
}
@media only screen and (max-width: 600px) {
    .mission{

        width: 95vw!important;
        padding: 5rem!important;
    }
}
@media screen and (max-width:420px) {
    .heading{


        font-size: 250%!important;
        margin-top: 4rem;
    }
    .about-us > div{width: 100%; padding-inline: 1rem;}
    
    .menu--btn{
        margin-top:2.875rem!important ;
    }
    .logo{
        font-size: 4rem!important;
    }
    

    

}

.center--div{
    text-align: center;
}

.flex-center--container{
    display: flex;
    justify-content: center;
}

.hidden{
    display: none;
}

/* ----------------------------- */

.logo {
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
    animation-name: blur;
  animation-duration: 2.5s;
}

.logo a,.remove--anchor-styles a{
    color: black;
text-decoration: none;
}
.logo a:hover,.remove--anchor-styles a:hover{
    color: black;
    text-decoration: none;
}
.logo a:focus,.remove--anchor-styles a:focus{
    color: black;
    text-decoration: none;
}


.menu--btn{
    margin-top: 4.3125rem;
    height: 2rem;
    position: absolute;
    top:0;
    right: 0;
    padding: 0.25rem 2rem 0  0 ;
}

/*Aware that !important shouldn't be used too much
 but wanted to override bootstrap button style*/
.button{
    background-color: white;
    border: 1px black solid!important;

    animation: blur 1s, button 1s;
  
}
.button:focus{
    outline: none!important;
}

.header {
    display: inline;
    height: 6rem;
}


.header--type{
    font-family: 'Aboreto', cursive;
}


.nav--closed{
    transform: scale(1.2);
    filter: blur(.375rem);
    opacity: 0;
    height:0!important;
}

#menu{
   position: relative;
   z-index: 10;
    width: 200px;
    margin-inline: auto;
    transition: all 1s;
}
.nav--open{
    height: 25rem;
}
.nav--open> ul{
    height: fit-content;
    text-align: center;
    list-style: none;
    padding: 0;
    padding-top:2rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.video-container{
    min-height: 50.625vw;
}
.video{
    object-fit: cover;
    max-width: 90vw;
}


.heading{
    font-family: 'Aboreto', cursive;
    font-weight: bold;
    font-size: 350%;
    margin-top: 4rem;
}

.about-us h4{
    font-size: 120%;
}
.about-us * {

    width: 50vw ;
    margin-inline: auto;

}
.about-us{
    margin-block: 5rem;
    text-align: center;
    width: 100%;
    font-size: 120%;
    padding: 7rem 0 7rem 0;
    
    background: #dddcd4;
}



.card-row {

    text-align: -webkit-center;
}

.card-row > div[class*='col-'] {
  display: flex;
}
.card--width{width: 250px;}
.productCard{

    overflow: hidden;
    display: static;
    justify-content:center}
.productCard .img-container{
    height: 15rem;

}
.product-image{ max-width: 15rem; min-width: auto; max-height: 15rem;}
/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */

.mission{
    font-size: 120%;
    padding: 10rem;
    margin-block: 10rem;
    width: 70rem;
    margin-inline: auto;
    border: 5px #dddcd4 solid;
    color: black;
}

/* -------------------- Product Page ---------------------- */
.product-page{
   margin-bottom: 20rem;
}
.productPage--card-row{
    margin-top: 8rem;
}
.productPage--card-inner-row{
    display: flex;
justify-content: center;
}
.productPage--card{
    

    display: flex;
    gap: 6rem;
    justify-content: space-around;
}

.productPage--image{
    max-height: 400px;
    max-width: 300px;

    width: auto!important; /*Doesn't seem to work when auto*/
}
.productPage--input-button:active{
    color: white;
    background: black;
}
.productPage--input-button{
    text-align: center;

    height: 3rem;
    width: 3rem;
    border-radius: 1.25rem;
    border: 2px black solid; background-color: white;
}
.productPage--input{
    text-align: center;
    width: 6rem; height: 4rem; border-radius: 2rem; border: 2px black solid; background-color: white; 
}
.productPage--input-wrapper{

}

.solid{
    display: absolute;
    left: 0;

    border-top: 1px solid #bbb;
}


#related {
    margin-top:10rem;
    margin-bottom:10rem;


}
#related .img-container{
    height: 10rem;
    height: 10rem;

}
.productPage--related-product, .productCard {
    width: 33%;
    max-width: 350px;
}


.productPage--related-product p, .productCard  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}
.productPage--related-product img{


    height: inherit;
}






/* -------------------- Footer ---------------------- */

.footer{
    align-items: center;
    background-color: #dddcd4;
    display: flex;
    width: 100vw;
    position: absolute;
    right:0;
    height: 25rem;
 padding-block: 5rem;
    padding-inline: 20rem;
    justify-content: space-around;
    flex-direction: column;
}
.footer-wrapper{
    justify-content: space-between;
}
.footer-wrapper{
    width: 50vw;
    display: flex;

}
.footer ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 15rem;
    justify-content: space-around;

}
.footer-wrapper span{
    font-weight: bold;
}
.footer .copyright{
    color: grey;

    align-self: center;
}