.logo {
    font-weight: bolder;
    font-size: 6rem;
    text-align: center;
    animation-name: blur;
  animation-duration: 2.5s;
}

.logo a,.remove--anchor-styles a{
    color: black;
text-decoration: none;
}
.logo a:hover,.remove--anchor-styles a:hover{
    color: black;
    text-decoration: none;
}
.logo a:focus,.remove--anchor-styles a:focus{
    color: black;
    text-decoration: none;
}
@keyframes blur {
    from {filter: blur(.25rem);}
    to {filter:blur(0)}
}
@keyframes button {
    from {background-color: black;
          color: white;
        }
    to {background-color: white;
        border: 1px black solid;}
}

.menu--btn{
    margin-top: 4.3125rem;
    height: 2rem;
    position: absolute;
    top:0;
    right: 0;
    padding: 0.25rem 2rem 0  0 ;
}

/*Aware that !important shouldn't be used too much
 but wanted to override bootstrap button style*/
.button{
    background-color: white;
    border: 1px black solid!important;

    animation: blur 1s, button 1s;
  
}
.button:focus{
    outline: none!important;
}

.header {
    display: inline;
    height: 6rem;
}

.center--div{
    text-align: center;
}
.video{
    max-width: 90vw;
}
.header--type{
    font-family: 'Aboreto', cursive;
}
@media screen and (max-width:766px) {
    .video{
        height: 80vw;
        object-fit: cover;
    }
    

}

.nav--closed{
    transform: scale(1.2);
    filter: blur(.375rem);
    opacity: 0;
    height:0!important;
}
.hidden{
    display: none;
}
#menu{
    transition: all 1s;
}
.nav--open{
    height: 25rem;
}
.nav--open> ul{
    height: fit-content;
    text-align: center;
    list-style: none;
    padding: 0;
    padding-top:2rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.flex-center--container{
    display: flex;
    justify-content: center;
}
.card-row {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card-row > div[class*='col-'] {
  display: flex;
}
.card--width{width: 250px;}
.productCard{
    justify-content:center}
.productImage{ max-width: 200px; min-width: auto; max-height: 200px;}
/* .card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  } */

/* -------------------- Product Page ---------------------- */

.productPage--card{

    width: 50vw;
    display: flex;
    gap: 6rem;
    justify-content: space-around;
}

.productPage--input-button:active{
    color: white;
    background: black;
}
.productPage--input-button{
    text-align: center;

    height: 3rem;
    width: 3rem;
    border-radius: 1.25rem;
    border: 2px black solid; background-color: white;
}
.productPage--input{
    width: 6rem; height: 4rem; border-radius: 2rem; border: 2px black solid; background-color: white; 
}